<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
 <!-- Database Connection Settings -->
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
  <property name="hibernate.connection.username">system</property>
  <property name="hibernate.connection.password">tiger</property>
  <property name="hibernate.hbm2ddl.auto">create/update</property>
  <property name="connection.pool_size">1</property>
   <property name="show_sql">true</property>
  
  <!-- Oracle dialect -->
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  
<mapping resource="com/lti/Hibernate_Maven/Hibernate_Proj1/Employeee.hbm.xml" /> 
</session-factory>
</hibernate-configuration>